{% extends 'base.html.twig' %}

{% block body %}
sfsertrgsdfg

<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fsocial-auth-back;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}
sdfsdfsdfsdf
{% endblock %}

